/* general tag styling */
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Ubuntu';
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/images/64x64-stone-tiles.png');
    background-repeat: repeat;
}

h1 {
    margin-top: 10px;
    font-family: 'lcd_solidregular';
}

h2 {
    margin-top: 10px;
    font-family: 'lcd_solidregular';
}

h3 {
    margin-top: 10px;
    font-family: 'lcd_solidregular';
}

hr {
    border-color: #5e1e1c;
}

/* bootstrap re-styling */
.btn-primary {
    background-color: #502400;
    border-color: #502400;
}

.btn-primary:hover {
    background-color: #271200;
    border-color: #271200;
}

.btn-default {
    background-color: #b48b50;
    border-color: #b48b50;
}

.btn-default:hover {
    background-color: #ffd59b;
    border-color: #ffd59b;
}

.panel-success {
    border-color: #b48b50;
}

.panel-success > .panel-heading {
    background-color: #ccac7e;
    color: black;
    border-color: #b48b50;
}

.panel-default {
    border-color: #d3ba9d;
}

.panel-default > .panel-heading {
    background-color: #f5dec8;
    color: black;
    border-color: #d3ba9d;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #fff4e7;
}

.navbar-inverse a {
    margin: 0;
    padding: 0;
}

.navbar-inverse {
    background-color: #2A0200;
    margin: 0;
}

.navbar-icon {
    padding: 3px !important;
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.navbar-icon img {
    height: 100%;
}

.navbar li a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.navbar-nav {
    padding-left: 5px;
}

/* custom font */
@font-face {
    font-family: 'lcd_solidregular';
    src: url('fonts/lcd_solid-webfont.woff') format('woff'), url('fonts/lcd_solid-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* content body styling */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
}

.render-body {
    min-height: 100%;
    margin: 0 auto -20px;
    padding-bottom: 40px;
}

.render-body > .container {
    padding-top: 20px;
}

.body-content-wrap {
    margin-top: 20px;
    padding: 10px;
    padding-top: 10px;
    background-color: rgb(255, 233, 202);
    border: 2px solid #2a0200;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

/* footer styling */
.footer-container {
    background: #2A0200;
    padding-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.footer {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.footer footer {
    height: 20px;
}

.footer-items {
    font-family: "lcd_solidregular";
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-items li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

/* project build page panel styling */
.proj-long-desc-col {
    padding: 0;
}
