body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-inverse a {
    margin: 0;
    padding: 0;
}

.navbar-inverse {
    background-color: #2A0200;
    margin: 0;
}


.navbar-icon img {
    height: 75%;
    margin: 15%;
}

.dropdown-toggle{
    background-image: url("/images/project-button.png");
    height:40px;
    width: 181px;
    margin-top: 4px;
    padding-top: 0;
    background-color: #2a0200;
    
}

.dropdown-menu {
    background-image:src("/imgages/dropdown-empty.png");
}
.navbar li a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#central-hall-container div{
    width: 100%;
    margin: 0;
    padding: 0;
}

#central-hall-img {
    width: 100%;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

/*this shows that everywhere we have a col-sm-10 it will be centrally aligned
this is good for cross device viewing as we will always have a col-1 on both sides when resizing window*/

/*we might want to offload it into a separate class or ID as this is slightly restrictive if we want to use normal col-10*/
/*Used mainly as a wrapper (i.e. whenever we want a centered content with dynamic margins on the sides we just put the
whole block of rows/cols in a single <div class="row-col-10">...</div> */
.col-sm-10{
    float: none;
    margin: 0 auto;
    padding-top: 2%;
}


/*custom font*/
@font-face{
    font-family: 'lcd_solidregular';
    src: url('fonts/lcd_solid-webfont.woff2') format('woff2'),
         url('fonts/lcd_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
   /* background-image: url("/images/64x64-planks.png");
    background-repeat: repeat;*/
    padding-left: 15px;
    padding-right: 15px;
}
.footer-center{
    float: none;
    margin: 0 auto;
}
.footer-items {
    font-family: "lcd_solidregular";
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-styling{
    display: block;
    width: 100%;
    background-color: #2A0200;
    position: fixed;
    bottom: 0;

}

.footer-items li {
    
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* project edit items */
.admin-proj-btn {
    display: inline;
    float: right;
    margin-left: 25px;
    margin-right: -15px;
}

/* project build page panel styling */
.proj-build-item {
    margin-top: 20px;
}

.proj-build-item p {
    margin-top: 5px;
}

.proj-build-item-panel {
    margin-bottom: 0px;
}

.proj-build-item-panel-heading {
    padding-top: 10px;
    padding-bottom: 10px;
}

.proj-long-desc-col {
    padding: 0;
}

.about-member {
    text-align: center;
}
