@model ValueTuple<bool, string>
<div class="row">
    <div class="col-sm-12">
        <div class="panel @(Model.Item1 ? "panel-success" : "panel-danger")">
            <div class="panel-heading">@Model.Item2</div>
        </div>
    </div>
</div>
