@model ValueTuple<string, string, string, string>

<div class="row">
    <div class="col-sm-4 col-sm-offset-2">
        <p class="about-member">@Model.Item1 (@Html.Partial("_EmailTemplate", Model.Item2))</p>
    </div>
    <div class="col-sm-4">
        <p class="about-member">@Model.Item3 (@Html.Partial("_EmailTemplate", Model.Item4))</p>
    </div>
</div>
