@{
    ViewData["Title"] = "About";
}

@section Styles {
    <style>
        .about-member {
            text-align: center;
        }
    </style>
}

<div class="row">
    <div class="col-sm-12">
        <h2>About</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>This is the website for our year 2 Software Engineering project (SEPR).</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>Source code for this site can be found <a href="https://github.com/Gorea235/Uni-StarmixInfo">here</a>.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3 style="text-align: center;">Project Members</h3>
    </div>
</div>
@Html.Partial("_AboutMemberRow", ("Angel Simeonov", "ass540@york.ac.uk", "Ben Percival", "bnp502@york.ac.uk"))
@Html.Partial("_AboutMemberRow", ("Daniel Molloy", "dm1143@york.ac.uk", "Jordan Lam", "jl2438@york.ac.uk"))
@Html.Partial("_AboutMemberRow", ("Luke Davies", "ld1042@york.ac.uk", "Mingrui Li", "ml1652@york.ac.uk"))
