@model string
@{
    ViewData["Title"] = "Error";
}

@if (Model == "404") {
    <div class="row">
        <div class="col-sm-7">
            <h1>Hmmmmmmmm... that doesn't seem to be a page</h1>
            <p style="margin-top: 40px;">But if you think about it, what really is a page?</p>
	    </div>
	    <div class="col-sm-5">
            <img src="/images/thinking.jpg"/>
	    </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <p style="font-weight: 100">Have you tried turning it off and on again?</p>
	    </div>
    </div>
}
else {
    <h1>Error</h1>
    <h2>Status code: @Model</h2>
}
