@model StarmixInfo.Models.Data.Project
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <style>
        #central-hall {
            width: calc(100% + 10px);
            height: 250px;
            margin: 0;
            margin-left: -5px;
            margin-right: -5px;
            margin-bottom: -20px;
            padding: 0;

            background-image: url("/images/central-hall-pixelated-with-sign.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
}

@section PreBody {
    <div id="central-hall"></div>
}

@if (Model == null) {
    <div class="row">
        <div class="col-sm-12">
            <h1>No project set as current</h1>
    	</div>
    </div>
}
else {
    <div class="row">
        <div class="col-sm-12">
            <h1>@Model.Name</h1>
    	    <p>@Model.ShortDesc</p>
    	</div>
    </div>
    <hr />
    @Html.Partial("_ProjectLongDesc", Model.LongDesc)
    <div class="row" style="margin-top: 20px;">
        @Html.Partial("_ProjectViewButtons", (Model, true))
    </div>
}
