@model StarmixInfo.Models.Data.Project
@{
    ViewData["Title"] = "Home Page";
}

@if (Model == null) {
    <div class="row">
        <h1>No project set as current</h1>
    </div>
}
else {
    <div class="row">
	    <div class="col-sm-12">
            <h1>@Model.Name</h1>
    	    <p>@Model.ShortDesc</p>
		</div>
    </div>
    <hr />
    @Html.Partial("_ProjectLongDesc", Model.LongDesc)
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3">
            <a class="btn btn-primary" href="/Projects/@Model.ProjectID">View Details</a>
	    </div>
	    <div class="col-sm-3 col-sm-offset-6">
            <a class="btn btn-default" href="/Projects/@Model.ProjectID/Builds" style="float: right;">View Builds</a>
	    </div>
    </div>
}
